<!DOCTYPE html>
<html lang="en">
<!-- business-4.html 42:40-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Uyoyo Maritime Energy - An offshore contracting company. It was founded to provide the offshore services to the oil and gas industry with competent, cost-efficient services, skilled personnel and state of the art equipment.">
    <meta name="author" content="Shreethemes">

    <link rel="shortcut icon" href="./template/img/logo/uyoyo.jpeg">

    <title>Uyoyo Maritime Energy</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="./template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Magnificpopup Css -->
    <link rel="stylesheet" type="text/css" href="./template/css/magnific-popup.css">

    <!-- Bootstrap core CSS -->
    <link href="./template/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="./template/css/fontawesome.css" rel="stylesheet">
    <link href="./template/css/pe-icon-7-stroke.css" rel="stylesheet">

    <!--Slider-->
    <link rel="stylesheet" href="./template/css/owl.carousel.min.css"/> 
    <link rel="stylesheet" href="./template/css/owl.theme.css"/> 
    <link rel="stylesheet" href="./template/css/owl.transitions.css"/>
    <link rel="stylesheet" href="./template/css/slick.css"/> 
    <link rel="stylesheet" href="./template/css/slick-theme.css"/> 

    <!-- Custom styles for this template -->
    <link href="./template/css/style.css" rel="stylesheet">
    <link href="./template/css/menu.css" rel="stylesheet">
    <link href="./template/css/default.css" rel="stylesheet">

</head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>

        <!-- Navigation Bar-->
        <div class="tagline hidden-md">
            <div class="container">
                <div class="float-left">
                    <div class="phone">
                        <i class="fas fa-phone"></i>  +234 701 414 8410
                    </div>
                </div>
                <div class="float-right">
                    <ul class="top_socials">
                        <li><a href="mailto:uyoyomaritime@gmail.com"><i class="fa fa-envelope"></i></a></li>                
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Navigation Bar-->
        <header id="topnav" class="defaultscroll fixed-top navbar-sticky sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a href="./index" class="logo">
                        <img src="./template/img/logo/uyoyo.jpeg" alt="missing_logo" height="60">
                        <!-- {{-- Uyoyo Maritime --}} -->
                    </a>
                </div>
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li>
                            <a href="./index.html">Home</a>
                        </li>

                        <li class="has-submenu">
                            <a href="./about.html">About</a>
                        </li>

                        <li class="has-submenu">
                            <a href="./services.html">Services</a>
                        </li>

                        <!-- {{-- <li class="has-submenu">
                            <a href="javascript:void(0)">Projects</a>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">Gallery</a>
                        </li> --}} -->
                        <li class="has-submenu">
                            <a href="#contact-us">Contact</a>
                        </li>                        
                    </ul>
                    <!-- End navigation menu-->
                </div>
            </div>
        </header>
        <!-- End Navigation Bar-->
        
        <!-- HOME START-->
        <section class="bg-half" style="background-image: url('./template/img/dredging/01.jpg'); ">
            <div class="bg-overlay"></div>
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="page-next-level text-white">
                                    <h4 class="text-uppercase">About Us</h4>
                                    <div class="page-next"> <a href="./about.html">Home</a> <i class="mdi mdi-chevron-right"></i> &nbsp;<span class=" text-white">About Us</span> </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- HOME END--> 

        <!-- ABOUT US START -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="about-section text-right mr-lg-3">
                            <h4 class="text-uppercase">Uyoyo Maritime Energy Limited</h4>
                            <div class="spacer-15"></div>
                            <p class="text-muted">An offshore contracting company. It was founded to provide the offshore services to the oil and gas industry with competent, cost-efficient services, skilled personnel and state- of- the- art equipment.</p>
                            <p class="text-muted">UYOYO MARITIME ENERGY LIMITED is engaged in three core activities in which it has a strong position. Uyoyo Maritime Energy Limited are happy to introduce to you our marine services and encourage you to partner with us, we deal with various selections of marine services including Ship Management, Ship Brokering, Ship Crewing, Spare Part Supply, Chandelling and Inward/Outward Clearance, among others. Uyoyo Maritime Energy Limited has behind it a cumulative years of experience has vast experience in all our services that we provide. The company strives to satisfy requests of ship owners, charterers, and employers in a fast and high-quantity manner</p>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6">
                        <div class="about-pic mt-sm-30">
                            <img src="./template/img/home/bg/04.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT US END -->

        <!-- FEATURE-TWO START -->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-two p-20 text-center">
                            <div class="feat-icon">
                                <i class="fas fa-hands"></i>
                            </div>

                            <div class="feat-head">
                                <h4>Our Vision</h4>
                                <p class="text-muted mb-0">Is to be a major player in the Marine sector within Nigeria and West Africa sub-region while maintaining the highest achievable level of Quality and Safety in compliance with all applicable international codes and standards and other regulatory requirements</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-two p-20 text-center">
                            <div class="feat-icon">
                                <i class="fab fa-sketch"></i>
                            </div>

                            <div class="feat-head">
                                <h4>Our Mission</h4>
                                <p class="text-muted mb-0">Is to effectively transfer technology and Empower Nigerians by liaisons and relationship with technically competent oversea partners in the Maritime, Oil and Gas sector, while ensuring that the acquisition of knowledge is achieved and transferred with high level of competency for the ever-growing Marine industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-two p-20 text-center">
                            <div class="feat-icon">
                                <i class="fa fa-clipboard-list"></i>
                            </div>

                            <div class="feat-head">
                                <h4>Our Strategy</h4>
                                <p class="text-muted mb-0"> Is to continuously improve on the quality and efficiency of our service delivery &nbspby leveraging on our competitive advantages and adherence to industry best standards.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FEATURE-TWO END -->

        <!-- COUNTER START -->
        <section class="section bg-counter">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row" id="counter">            
                </div>
            </div>
        </section>
        <!-- COUNTER END -->

        <!-- FAQ & CHART START -->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                    <p class="text-muted text-center"> <span class="text-uppercase">Uyoyo Maritime Energy Limited</span> recognizes quality, Health and Safety as most essential and is therefore committed strict adherence to applicable codes, specifications and standards as specified in the contract and in line with company’s general QHSE policy
                    </p>
                    <div class="col-md-6">
                        <div class="faq-chart-section">
                            <h4>HSE Policy Statement</h4>
                            <div class="spacer-15"></div>
                            <p class="text-muted">It is the policy of Uyoyo Maritime Energy to carry out all activities in such a way that the Health and Safety of personnels and facilities that may be affected by our operations are safeguarded</p>                   
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="faq-chart-section">
                            <h4>Quality Policy Statement</h4>
                            <div class="spacer-15"></div>
                            <p class="text-muted">It is the policy of Uyoyo Maritime Energy to execute its entire Operations at all times to meet all relevant Legal requirements/agreed client requirements at a cost effective manner</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ & CHART END -->  
        <!-- PARTNER START -->
        <section class="section-two bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="slider autoplay">
                            <div><img src="./template/img/logo/shell.png" width="60" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="./template/img/logo/chevron.png" width="60" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="./template/img/logo/sinopec.png" width="60" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="./template/img/logo/nnpc.png" width="60" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="./template/img/logo/wav.png" width="160" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="./template/img/logo/norfin.png" width="200" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="./template/img/logo/npdc.jpg" width="60" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- PARTNER END -->
        <!-- FOOTER START -->
        <footer class="footer" id="contact-us">
            <div class="section-two">
                <div class="container">
                    <!--Footer Info -->
                    <div class="row footer-info">                
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="footer-head">
                                <h5 class="text-light">Site Links</h5>
                            </div>
                            <div class="footer-item mt-3">
                                <ul class="list-unstyled">
                                    <li><a href="./index.html"><i class="fas fa-chevron-right mr-2"></i> Home</a></li>
                                    <li><a href="./about.html"><i class="fas fa-chevron-right mr-2"></i> About us</a></li>
                                    <li><a href="./services.html"><i class="fas fa-chevron-right mr-2"></i> Services</a></li>
                                    <!-- <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Projects</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> News</a></li> -->
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Gallery</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="footer-head">
                                <h5 class="text-light">Corporate Office</h5>
                            </div>
                            <p class="text-footer-clr mt-3">No. 4 Chief Mba Street, Off Ada-George Road Mile 4, Port-Harcourt, Rivers State, Nigeria</p>
                            <div>
                                <ul class="list-unstyled social-icon">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-head">
                                <h5 class="text-light">Call & Mail Us</h5>
                            </div>
                            <div class="footer-news mt-3">
                                <p class="text-footer-clr"> <i class="fa fa-phone"></i> +234 701 414 8410 <br> <i class="fa fa-phone"></i> +234 813 685 2373 <br> <i class="fa fa-envelope"></i>  uyoyomaritime@gmail.com</p>
                                <p class="text-footer-clr"></p> 
                                <!-- {{-- <div class="subscribed-form">
                                    <div class="subcribed-form">
                                        <form action="#">
                                            <input name="email" type="email" placeholder="Your Email" id="email" required="">
                                            <button type="submit" class=""><span class="fab fa-telegram-plane"></span></button>
                                        </form>
                                    </div>
                                </div> --}} -->
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Info -->
                </div>
            </div>
            <hr>
        </footer>
        <!-- FOOTER END -->

        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> 
            <i class="mdi mdi-chevron-up"> </i> 
        </a>
        <!-- Back to top --> 

        <!-- js placed at the end of the document so the pages load faster -->
<script src="./template/js/jquery.min.js"></script>
<script src="./template/js/popper.min.js"></script>
<script src="./template/js/bootstrap.min.js"></script>
<!-- Portfolio -->
<script src="./template/js/jquery.magnific-popup.min.js"></script>
<script src="./template/js/isotope.js"></script>
<script src="./template/js/portfolio-filter.js"></script> 
<!-- Carousel -->
<script src="./template/js/owl.carousel.min.js"></script>
<script src="./template/js/owlcarousel.init.js"></script>
<script src="./template/js/slick.min.js"></script> 
<script src="./template/js/slick.init.js"></script> 
<!-- VIDEO ICON -->
<script src="./template/js/magnific.init.js"></script>
<!-- COUNTER -->
<script src="./template/js/counter.init.js"></script>
<!--custom script-->
<script src="./template/js/app.js"></script>
    </body>


<!-- business-4.html 42:42-->
</html>